/**/
*{
    padding:0;
    margin:0;
}


/*navigation bar container*/
.navigation-container{
    display:flex;
    flex-direction:row;
    position:sticky;
}

/*profile button container (right)*/
.navigation-container #nav-btn5{
    margin-left:auto;
    margin-right:2rem;
}
/*the four left buttons container (home, statistics, chat, and network)*/
.navigation-container .navigation-btns{
    justify-content:left;
    margin-right:auto;
}
.navigation-btns{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;

}
/*each button in four left buttons*/
.navigation-btns > li {  
    text-decoration: none;
    list-style-type: none;
    transition:0.5s;
    margin:calc(1vw + 1rem);
    cursor:pointer;
    padding:1rem;
}

/*
#home-btn:hover, #symptom-btn:hover, #chat-btn:hover, #network-btn:hover{
    
}
*/
/*home button*/
#home-btn{
    width:3rem;
    height:3rem;
    transition:0.5s;
    border-radius:25px;
    padding:1rem;
}
/*symptom/statistics button*/
#symptom-btn{
    width:3rem;
    height:3rem;
    transition:0.5s;
    border-radius:25px;
    padding:1rem;
}
/*chat button*/
#chat-btn{
    width:3rem;
    height:3rem;
    transition:0.5s;
    border-radius:25px;
    padding:1rem;

}
/*network button*/
#network-btn{
    width:3rem;
    height:3rem;
    transition:0.5s;
    border-radius:25px;
    padding:1rem;

}
#home-btn:hover, #symptom-btn:hover, #chat-btn:hover, #network-btn:hover{
    width:4rem;
    height:4rem;
    background-color:#F44336;

    fill:white;
}
/*profile button*/
#profile-btn{
    width:3rem;
    height:3rem;
    margin-top:1rem;
    border-radius:25px;
    float:right;
    padding:1rem;
    transition:0.5s;
    fill:white;
}

#profile-btn:hover{
    background-color:#F44336;
    width:4rem;
    height:4rem;
}


