.trigger-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: azure;
  border: 0cqb;
  border-radius: 5px;
}

.trigger-container h1, .trigger-container h2{
  font-size: medium;
  margin-bottom: 15px;
}

